<%- partial('common/head') %>
<body>
    <div id="container">
        <%- partial('common/header') %>
        <div class="outer">
             <% if (is_home() && theme.profile_home_sidebar) { %>
                <%- partial('common/profile', null, {cache: !config.relative_link}) %>
            <% } %>

            <% if (is_post() && theme.profile_post_sidebar) { %>
                <%- partial('common/profile', null, {cache: !config.relative_link}) %>
            <% } %>

            <section id="main"><%- body %></section>
            <% if (is_home() && theme.home_sidebar) { %>
                <%- partial('common/sidebar', null, {cache: !config.relative_link}) %>
            <% } %>
            <% if (is_post() && theme.post_sidebar) { %>
                <%- partial('common/sidebar', null, {cache: !config.relative_link}) %>
            <% } %>
        </div>
        <%- partial('common/footer', null, {cache: !config.relative_link}) %>
        <%- partial('common/scripts') %>
    </div>
</body>
</html>